*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    
}

.minicircle{
    transition: all .1s;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    z-index: 9999;
    background-color: white;
}
.bounding {
    width: fit-content;
    overflow: hidden;
    
}

.bounding .boundingelem {
    transform: translateY(100%);
}

#main{
    width: 100%;
    background-color: black;
}
#hero {
    position: relative;
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: black;
}
#nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
    position: relative;
    
}

#nav a {
    position: relative;
    color: white;
    text-decoration: none;
}



#heading {
    color: white;
    font-size: 7vw;
    opacity: .7;   
    line-height: 1;
    text-transform: uppercase;
    margin-left: 30px;
}

#heading #secondh1 {
    margin-left: 180px;
}

.blocktext {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}

.blocktext h5 {
    font-size: 15px;
    text-align: right !important; 
}

#subheading {
    display: flex;
    flex-direction: column;
    
    align-items: end;
    font-size: 1vw;
    margin-top: .6vw;
    margin-top: 85px;
    margin-bottom: 50px;
}
#subheading h5 {
 
    margin-top: .5vw;
    font-size: 1vw;
    text-align: right;
}

#herofooter {
    font-size: 10px;
    color: azure;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;

}

#herofooter a{
    text-decoration: none;
    color: white;
}

#herofooter #iconset {
    display: flex;
    
}
#iconset .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(145, 144, 139);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: black;
    margin-left: 5px;

}
#second {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    color: white;
    
}

.elem {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border-top: 1px solid grey;
    padding: 2vw 3vw;
    opacity: .7;
}

.elem h1 {
    text-transform: uppercase;
    padding: 10px;
    font-size: 7.5vw;
}
.elemlast {
    border-bottom: 1px solid grey;
}
.elem img {
    opacity: 0;
    pointer-events: none;
    height: 140%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8vw 10vw;
    padding-left: 150px;
    gap: 15px;
    padding: 10vw 5vw;
    width: 100%;
    background-color: black;
    color: white;

}
#about img {
    width: 150px;
}

#textabout h5 {
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 10px;
}
#textabout p {
    line-height: 1.5;
    margin-bottom: 30px;
}

#textabout a{
    padding: 6px 16px;
    border: 2px solid white;
    border-radius: 35px; 
    text-decoration: none;
    color: white;
    font-size: 12px;
}
#textabout {
    width: 25rem;
}

#subscribe{
    background-color: black;
    width: 100%;
    color: white;
}
#subscribe p {
    opacity: .7;
    font-size: 14px;
}
#footer{
    display: flex;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    text-decoration: none;

}

#footerleft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#footer a{
    position: relative;
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}


























